<h1>Editing ad</h1>

<%= render 'form' %>

<%= link_to 'Show', advertiser_campaign_advertise_path(@advertiser, @campaign, @ad)  %>
<%= link_to 'Back', advertiser_campaign_advertises_path(@advertiser, @campaign)  %>
