<!DOCTYPE html>
<html>
<head>
  <title>Ibeacon</title>
  <%= stylesheet_link_tag    "ibeacon/application", media: "all" %>
  <%= javascript_include_tag "ibeacon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
