
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>CURL requests</h1>
                        <p>
													
</p><p>
													<code>SELECT ALL</code><br/>
													curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X GET -d "{\"entity\" :\"game\"}" http://192.168.100.151:3000/main/crud_index
</p><p>
													<code>SHOW</code><br/>
													curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X GET -d "{\"entity\" :\"game\",\"data\" :{\"id\":\"273adb7d-1302-4963-b141-e3339db37731\"}}" http://192.168.100.151:3000/main/crud_at
</p><p>
													<code>INSERT</code><br/>
													curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X POST -d "{\"entity\" :\"game\",\"data\" :{\"name\":\"1game\",\"desc\":\"1game\"}}" http://192.168.100.151:3000/main/crud_index
</p><p>
													<code>UPDATE</code><br/>
													curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X PUT -d "{\"entity\" :\"game\",\"data\" :{\"desc\":\"1game\",\"id\":\"273adb7d-1302-4963-b141-e3339db37731\",\"name\":\"1game demo\"}}" http://192.168.100.151:3000/main/crud_at
</p><p>
													<code>DELETE</code><br/>
													curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X DELETE -d "{\"entity\" :\"game\",\"data\" :{\"id\":\"273adb7d-1302-4963-b141-e3339db37731\"}}" http://192.168.100.151:3000/main/crud_at
												</p><p>

												<code>SIGNUP</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Rfx9V6fEuN9gh" -H "APPID: 1VCnzIhA4cjNAi" -X POST -d "{\"full_name\" :\"Buyantorgil Enkhbaatar\", \"email\" :\"buyakao12@yahoo.com\", \"password\" :\"password\"}" http://api.dynas.mn/v1/signup
</p><p>
												<code>SIGNIN</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X POST -d "{\"email\" :\"buyakao@yahoo.com\", \"password\" :\"password\"}" http://api.dynas.mn/v1/signin
</p><p>
												<code>GETTOKEN</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -X GET -d "{\"email\" :\"buyakao@yahoo.com\"}" http://api.dynas.mn/v1/get_token
</p><p>
												<code>CLEARTOKEN</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -H "Authorization:Token token=\"YOURTOKEN\"" -X GET http://api.dynas.mn/v1/clear_token
</p><p>
												<code>RESET PASSWORD</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Raq4LFZAKqEVf" -H "APPID: 1RbLQeaPv0ArmS" -H "Authorization:Token token=\"YOURTOKEN\"" -X POST -d "{\"old_password\" :\"password\",\"new_password\" :\"personal\"}" http://api.dynas.mn/v1/reset_password
</p><p>
												<code>GET COUPONS WITH BEACON UUID</code><br/>
												curl -H "Accept: application/json" -H "Content-Type: application/json" -H "MEMBERID: 1Rfx9V6fEuN9gh" -X GET -d "{\"beacon_uuid\" :\"1234567890\"}" http://api.dynas.mn/v1/coupons
</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
