<!DOCTYPE html>
<html>
<head>
  <title>Ecoupon</title>
  <%= stylesheet_link_tag    "ecoupon/application", media: "all" %>
  <%= javascript_include_tag "ecoupon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
