<!DOCTYPE html>
<html>
<head>
  <title>Ad</title>
  <%= stylesheet_link_tag    "ad/application", media: "all" %>
  <%= javascript_include_tag "ad/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
